.images {
	padding-top: 10px;
	padding-bottom: 10px;
}
.learn {
	padding-bottom:40px;
}
.emailus {
	text-align:center; 
	border-top: 1px solid black; 
	border-bottom: 1px solid black;
}
.yellatus {
	padding-top:40px; 
	padding-bottom:40px;
}
.socials {
	padding-top:40px;
}
.copy {
	padding-top:40px; 
	text-align:center;
}